html, body
{
	font-family: sans-serif;
}

ol, ul
{
	list-style: none;
	padding: 0;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 256px;
    padding: 0 5px;
}

input[name="pitch[]"]
{
	width: 100%;
}

#kalimba
{
	background: white;
}

#kalimba ol.keys
{
	display: flex;
	margin: 0;
}

#kalimba ol.keys > li
{
	text-align: center;	
	width: 32px;
}

#kalimba .pitch-display
{
	border: 1px solid lightgrey;
	width: 32px;
}

#tablature
{
	height: 50vh;
	overflow: hidden;
	position: relative;
}

#tablature > .inner
{
	position: absolute;
	bottom: 0px;
}

#tablature .note
{
	position: absolute;
	opacity: 0.6;
}

#tablature .note:not(.unplayable)
{
	display: block;
	
	width: 32px;
	
	background-color: green;
	box-shadow: -2px -2px 5px inset black,
		2px 2px 5px inset white;
}

#tablature .note.unplayable
{
	font-family: monospace;
	left: 0px;
	width: 100%;
	text-align: right;
	border-top: 1px dotted red;
	font-size: 6pt;
	font-weight: bold;
	color: red;
}

#tracks li
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#tracks li > span:last-of-type
{
	flex: 1;
}

#tracks span[data-name="index"]
{
	width: 32px;
}

#tracks li:nth-child(odd)
{
	background: #eee;
}

#tracks li:nth-child(even)
{
	background: #ddd;
}

#tracks li:hover
{
	background: #ccc;
}